# Default values for tl500

# Create a helper to create a prefix if one isn't provided? Would help if we moved to shared clusters
prefix: ""

# Group name in LDAP / IdM (FreeIPA) for attendees.
group_name: student

# Namespace where IDM runs, in case is deployed in OCP. Otherwise leave it empty or blank.
ipa_namespace: ipa

namespaces:
  - name: tl500-workspaces
  - name: tl500-tech-exercise
  - name: tl500-gitlab
  - name: tl500-shared
  - name: tl500-minio
  - name: gitlab-system

operators:

  devspaces:
    enabled: true
    namespace: openshift-operators
    subscription:
      channel: stable
      approval: Automatic
      operatorName: devspaces
      sourceName: redhat-operators
      sourceNamespace: openshift-marketplace
    operatorgroup:
      create: false

  openshift-pipelines-operator-rh:
    enabled: true
    namespace: openshift-operators
    subscription:
      channel: latest
      approval: Automatic
      operatorName: openshift-pipelines-operator-rh
      sourceName: redhat-operators
      sourceNamespace: openshift-marketplace
    operatorgroup:
      create: false

  cluster-logging-operator:
    enabled: true
    namespace: openshift-logging
    subscription:
      channel: stable-6.3
      approval: Automatic
      operatorName: cluster-logging
      sourceName: redhat-operators
      sourceNamespace: openshift-marketplace
    operatorgroup:
      create: true
      targetNamespace: AllNamespaces

  cluster-observability-operator:
    enabled: true
    namespace: openshift-cluster-observability-operator
    subscription:
      channel: stable
      approval: Automatic
      operatorName: cluster-observability-operator
      sourceName: redhat-operators
      sourceNamespace: openshift-marketplace
    operatorgroup:
      create: true
      targetNamespace: AllNamespaces

  loki-operator:
    enabled: true
    namespace: openshift-operators-redhat
    subscription:
      channel: stable-6.3
      approval: Automatic
      operatorName: loki-operator
      sourceName: redhat-operators
      sourceNamespace: openshift-marketplace
    operatorgroup:
      create: true
      targetNamespace: AllNamespaces

  cert-utils-operator:
     enabled: true
     namespace: openshift-operators
     subscription:
       channel: alpha
       approval: Automatic
       operatorName: cert-utils-operator
       sourceName: community-operators
       sourceNamespace: openshift-marketplace
     operatorgroup:
       create: false
  
  kubernetes-imagepuller-operator:
     enabled: true
     namespace: openshift-operators
     subscription:
       channel: stable
       approval: Automatic
       operatorName: kubernetes-imagepuller-operator
       sourceName: community-operators
       sourceNamespace: openshift-marketplace
     operatorgroup:
       create: false

  gitlab-operator-kubernetes:
     enabled: true
     namespace: gitlab-system
     subscription:
       channel: stable
       approval: Automatic
       operatorName: gitlab-operator-kubernetes
       sourceName: certified-operators
       sourceNamespace: openshift-marketplace
     operatorgroup:
       create: true

logging:
  # Might be needed with clusters that have an infra plane
  # nodeSelector:
  #   key: node-role.kubernetes.io/infra
  #   value: ''
  namespace: openshift-logging

minio:
  namespace: tl500-minio

gitlab:
  app_name: gitlab
  namespace: gitlab-system
  credentials:
    root_password: ''
# a body of CA certificate that Gitlab should be using goes in here. Body needs to be Base64!
#  cacert:
  ldap:
#    port: "389"
#    base: "dc=CORP,dc=EXAMPLE,dc=COM"
#    uri: "MY-LDAP.example.corp.com"
#    user_filter: ""
#    validate_certs: "false"
#    bind_dn: uid=ldap-admin,cn=users,cn=accounts,dc=CORP,dc=EXAMPLE,dc=COM
#    password: password
    secret_name: ldap-bind-password

sealed-secrets:
  # Disabled by default
  enabled: true
  nameOverride: sealed-secrets
  fullnameOverride: sealed-secrets
  namespace: tl500-shared
  # Dont touch the security context values, deployment will fail in OpenShift otherwise.
  podSecurityContext:
    enabled: false
  containerSecurityContext:
    enabled: false
  commandArgs:
    - "--update-status=true"

userworkloadmonitoring: true

stackrox-chart:
  enabled: true
  stackrox:
    clusterName: tl500
    namespace: stackrox

gitops-operator:
  enabled: true
  namespaces: []
  ignoreHelmHooks: false

tl500-teamsters:
  enabled: true

# assumes node-role.kubernetes.io/infra: "" on one or more nodes
runOnInfra: false

# not sure if this should be in this repo but putting somewhere for safe keeping at least 
machineset:
  enabled: false
  cluster_id: ''
  region: 'eu-west-2'
  availability_zone: 'eu-west-2a'
  ami_id: 'ami-0993bc7222e12bd80' # eu-west-2
