{{- if and .Values.docs (not .Values.subscriptions.only) }}
---
apiVersion: v1
kind: DeploymentConfig
metadata:
  name: "{{ .Values.docs.name }}"
  namespace: "{{ .Values.docs.namespace }}"
  labels:
    app: "{{ .Values.docs.name }}"
spec:
  replicas: 1
  selector:
    app: "{{ .Values.docs.name }}"
  template:
    metadata:
      labels:
        app: "{{ .Values.docs.name }}"
    spec:
      containers:
      - image: "{{ .Values.docs.name }}"
        imagePullPolicy: Always
        name: "{{ .Values.docs.name }}"
        command: ["/bin/sh","-c"]
        args: ["npm install; npm start"]
        ports:
        - name: http 
          containerPort: 8000
          protocol: TCP
        resources: {}
        terminationMessagePath: "/dev/termination-log"
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      securityContext: {}
      terminationGracePeriodSeconds: 30
  test: false
  triggers:
  - type: ConfigChange
  - imageChangeParams:
      automatic: true
      containerNames:
      - "{{ .Values.docs.name }}"
      from:
       kind: ImageStreamTag
       name: "{{ .Values.docs.name }}:{{ .Values.docs.build.build_tag | default "latest" }}"
    type: ImageChange
{{- end }}
