{{- if .Values.crw }}
apiVersion: org.eclipse.che/v1
kind: CheCluster
metadata:
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-weight": "25"
  name: {{ .Values.crw.name | default "codeready-workspaces" | quote }}
  namespace: {{ .Values.crw.namespace | default "tl500-workspaces" | quote }}
spec:
  server:
    cheImageTag: {{ .Values.crw.cheImageTag | default "" | quote }}
    cheFlavor: {{ .Values.crw.cheFlavor | default "codeready" | quote }}
    devfileRegistryImage: {{ .Values.crw.devRegImage | default "" | quote }}
    pluginRegistryImage: {{ .Values.crw.pluginRegImage | default "" | quote }}
    tlsSupport: {{ .Values.crw.tlsSupport | default false }}
    selfSignedCert: {{ .Values.crw.selfSignedCert | default false }}
{{- if .Values.crw.gitCustomCA }}
    gitSelfSignedCert: true
{{- end }}
    customCheProperties: {{ toYaml .Values.crw.properties | nindent 6 | default "" }}
  database:
    externalDb: false
    chePostgresHostName: ''
    chePostgresPort: ''
    chePostgresUser: ''
    chePostgresPassword: ''
    chePostgresDb: ''
  auth:
    openShiftoAuth: true
    identityProviderImage: ''
    externalIdentityProvider: false
    identityProviderURL: ''
    identityProviderRealm: ''
    identityProviderClientId: ''
  storage:
    pvcStrategy: per-workspace
    pvcClaimSize: 2Gi
    preCreateSubPaths: true
{{- end }}
