{{- if .Values.gitlab -}}
{{ $root_pass := include "gitlab.root_password" . }}
---
apiVersion: v1
kind: Secret
metadata:
  name: "gitlab-ldap-password"
  namespace: "{{ .Values.gitlab.namespace }}"
  annotations:
    "helm.sh/resource-policy": "keep"
type: Opaque
data:
  password: {{ $root_pass | b64enc | quote }}
immutable: true
{{- end }}