{{- if .Values.gitlab -}}
{{ $root_pass := include "gitlab.root_password" . }}
{{ $db_user := include "gitlab.postgres.user" . }}
{{ $db_pass := include "gitlab.postgres.password" . }}
{{ $db_admin_pass := include "gitlab.postgres.admin_password" . }}
---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ .Values.gitlab.app_name }}-credentials"
  namespace: "{{ .Values.gitlab.namespace }}"
  annotations:
    "helm.sh/resource-policy": "keep"
type: Opaque
data:
  root_password: {{ $root_pass | b64enc | quote }}
immutable: true
{{- end }}